/* roboto-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url('../fonts/roboto-v47-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url('/fonts/roboto-v47-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}/* oswald-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url('/fonts/oswald-v53-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url('/fonts/oswald-v53-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url('/fonts/oswald-v53-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}/* ubuntu-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url('/fonts/ubuntu-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url('/fonts/ubuntu-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ubuntu-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url('/fonts/ubuntu-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}body html{
    overflow:hidden;
    font-family: Ubuntu,serif;
    font-weight: 300;
}
#backG{
    
    mix-blend-mode:normal;
    background-color: #fff0;
    background-image: linear-gradient(#ffffffc2,#ffffffc2,#8dffd3c2,#00ff9dc2,#00ff9dc2 );
    background-position: 0 0, 0 0;
    background-repeat: repeat;
    background-size: auto, cover;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    
    height: 100%;
    width: 100%;
    font-weight: 300;
    display:block;
    overflow:hidden;
    z-index: 0;
}.container-fluid{
    font-family: Ubuntu, serif;
    font-weight: 200;
    font-size: 1.2rem;overflow:hidden;
}.nav-link::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 0;overflow:hidden;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 255, 213);
    transition: all 0.3s ease;
}.nav-link:hover::after{
    overflow:hidden;
    width: 60%;
    
} #imgUsr::after{
  background-color: rgb(0, 255, 42);
  } #init{
    font-family: Oswald, serif;
    font-weight: 200;
    font-size: 2.5rem;
    
}#initts{
    height: 90px;
    position: absolute;
    left: 2.5%;
    top: 0;
}.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;overflow:hidden;
}#hero {
      
      position: relative;
      margin-top: 2%;
      text-align: left;
      z-index: 5;overflow:hidden;
      
    }
    .btn {
      font-family: Ubuntu, serif;
      font-weight: 300;
      font-size: .7rem;
      color: rgb(0, 0, 0);
      overflow:hidden;
      border-radius: 5px;
      border-width: 1px;

      border-color: rgb(0, 0, 0);
      text-decoration: none;
    }.btn:hover {
      
      color: rgb(255, 255, 255);
      border-radius: 5px;
      border-width: 1px;
      border-color: rgb(255, 255, 255);
      
      text-decoration: none;
    } h1{
        color: rgb(0, 0, 0);
        font-family: Ubuntu, serif;
        font-weight: 300;
        font-size: 1.3rem;
        text-decoration: none;overflow:hidden;
    }h2{
        color: rgb(0, 0, 0);
        
        font-family: Ubuntu, serif;
        font-weight: 300;
        font-size: 5rem;
        text-decoration: none;overflow:hidden;
    }p{
        font-size: 1.3rem;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: Ubuntu, serif;
        font-weight: 300;
        z-index: 5;
        overflow:hidden;
    }#imgCar{
        width: 300px;
        height: auto;
        z-index: 6;
        border-radius:90px;
        background-image: linear-gradient(#343434,#343434);
        

    }label{
        font-size: .8rem;
        color: rgb(0, 0, 0);
        text-align: left;
        font-family: Ubuntu, serif;
        font-weight: 300;
    }input{
        height: 2rem;
        font-family: Ubuntu, serif;
        font-weight: 300;
        font-size: .2rem;
    }#txtMessage{
        height: 2.1rem;
        }#subtitle{
            color: rgb(0, 0, 0);
            font-family: Oswald, serif;
            font-weight: 200;
            width: 100%;
            font-size: 1.7rem;
            text-align: center;
            text-decoration: none;overflow:hidden;
        }#txtPass{
            font-size: .75Rem;
            font-family: Ubuntu, serif;
            font-weight: 300;
            z-index: 5;overflow:hidden;
            
        }#txtCtry{
          font-size: .75Rem;
          font-family: Ubuntu, serif;
          font-weight: 300;
          z-index: 5;overflow:hidden;
          
      }#txtMail{
          font-size: .75Rem;
          font-family: Ubuntu, serif;
          font-weight: 300;
          z-index: 5;overflow:hidden;
          
      }#txtAge{
          font-size: .75Rem;
          font-family: Ubuntu, serif;
          font-weight: 300;
          z-index: 5;overflow:hidden;
          
      }#txtUsr{
          font-size: .75Rem;
          font-family: Ubuntu, serif;
          font-weight: 300;
          z-index: 5;overflow:hidden;
          
      }#txtNam{
          font-size: .75Rem;
          font-family: Ubuntu, serif;
          font-weight: 300;
          z-index: 5;overflow:hidden;
          
      }hr{
            color: rgb(0, 0, 0);
        }#txtmin{
            color: rgba(206, 206, 206, 0.671);
            overflow:hidden;
        }#formula{
            text-align: left;
            overflow:hidden;
            
        }#fPass{
          font-size: .7rem;
          font-style: italic;
        }#invtxtMail{
          font-size: .7rem;
        }#invtxtPass{
          font-size: .7rem;
        }#delX{
          text-align: center;
          align-items: center;
          font-size: .35rem;
        }